.icon{
	padding: 2px;
	height: 60px;
	width: 60px;
	margin-top: 30px;
}

.body{
	
}

#bodyBackground{
	background-image: url(https://i.ytimg.com/vi/uxvoerkZcgo/maxresdefault.jpg)
}


#code{
	background-color: white;
}

.navText{
	opacity:1;
	transition: opacity 0s ease-in-out;
}

.navText:hover{
	opacity:0;
	transition:opacity 1s ease-in-out;
}

#codeAndArt{
	background-color: white;
}

#art{
	background-color: white;
}

svg {
 
  background-color: white;
  width:1200px;
  height:100px;
  box-sizing:border-box;
  background-clip: content-box; 
  
}
text {
  font-size:6em;
  fill:url(#textpattern) ;
  
  }

  svg:hover {
  
  opacity:0;
	transition:opacity 1s ease-in-out;
}
svg:hover text {
  /*stroke-width:0;*/
}